.view-book {
  background-color: white;
  color: black;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.requests {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.requester {
  background-color: white;
  color: black;
  margin: 5px;
  width: 200px;
  text-align: center;
}
